<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="../css/cabecalho.css">
    <link rel="stylesheet" href="../css/blog.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
    <div class="container">
        <div class="cabecalho">
            <div class="menu">
                <div class="logo">
                    <h1>Mesa&Arte</h1>
                </div>
                <div class="opcoes">
                    <a href="index.html" class="opcao">Home</a>
                    <a href="receitas.html" class="opcao">Receitas</a>
                    <a href="dicas.html" class="opcao">Dicas</a>
                    <a href="blog.html" class="opcao">Blog</a>
                    <a href="sobre.html" class="opcao">Sobre</a>
                    <a href="contato.html" class="opcao">Contato</a>
                </div>
                <div class="pesquisa">
                    <a href="">
                        <button><i class="bi bi-search"></i></button>
                    </a>
                </div>
            </div>
        </div>

        <br>

        <h1 class="destaque">Conteúdos para Assistir</h1>
        <div class="conteudo">
            <div class="box box1">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/cZ_u6h9iNug?si=KDEUtQ6U5BDTrQVw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
            <div class="box box2">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/E5JTVJ5xiNQ?si=y3khaI5ICgqdEVCA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
            <div class="box box3">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/P2_gTF4cFKI?si=tBAry-gxQMfCK5Kt" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
            <div class="box box4">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/SI61ezWY35A?si=3CsRnKvsgf9Ir2Cn" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
            <div class="box box5">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/gLisOouUYsY?si=jFoPt0eFhi7kglp6" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
            <div class="box box6">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/-L-fMMJ1-I4?si=K42P0bEKHQWCzRZX" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </div>
        <div class="rodape" id="rodape">
            <div class="parte1">
                <h1>- Contemple e Saboreie -</h1>
                <p>Dicas de ouro para sua mesa</p>
            </div>
        </div>
    </div>
</body>
<script src="..\\js\\active.js"></script>
</html>
