<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contato</title>
    <link rel="stylesheet" href="../css/cabecalho.css">
    <link rel="stylesheet" href="../css/contato.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
    <div class="container">
        <div class="cabecalho">
            <div class="menu">
                <div class="logo">
                    <h1>Mesa&Arte</h1>
                </div>
                <div class="opcoes">
                    <a href="index.html" class="opcao">Home</a>
                    <a href="receitas.html" class="opcao">Receitas</a>
                    <a href="dicas.html" class="opcao">Dicas</a>
                    <a href="blog.html" class="opcao">Blog</a>
                    <a href="sobre.html" class="opcao">Sobre</a>
                    <a href="contato.html" class="opcao">Contato</a>
                </div>
                <div class="pesquisa">
                    <a href="">
                        <button><i class="bi bi-search"></i></button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="conteudo">
        <div class="caixa">
            <div class="box-1">
                <div class="bem-vindo">
                    <div class="mensagem">
                        <h1>Bem-vindo!<br> É um prazer conhecê-lo!</h1>
                        <p>Você pode registrar seus dados para pular esta etapa. Salve os nossos cookies para entrar no nosso site, sem precisar preencher os dados.</p>
                        <button id="retornarBotao" type="button">RETORNAR</button>
                    </div>
                </div>
                <div class="box-2">
                    <div class="infeite-a"></div>
                    <h1>Crie uma conta, <br> para ser notificado de todas as novidades.</h1>
                    <div class="login">
                        <input id="nome" placeholder="nome" autocomplete="off"><br>
                        <input id="email" placeholder="email" autocomplete="off"><br>
                        <input id="senha" placeholder="senha" autocomplete="off"><br>
                        <div id="alertMessage" class="mensagem-alerta"></div>

                        <div class="infeite-b">
                            <div class="dados">
                                <input type="checkbox" id="lembrarDados">
                                <label for="lembrarDados">Lembrar meus dados</label>
                            </div>
                        </div>
                        <button class="cadastro" onclick="registerUser()">CADASTRAR-SE</button>
                        <div class="sucessor">
                            <p id="d">Esqueci minha <a>senha</a></p>
                            <p id="d">Já tenho uma <a>conta</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="rodape" id="rodape">
            <div class="parte1">
                <h1>- Contemple e Saboreie -</h1>
                <p>Dicas de ouro para sua mesa</p>
            </div>
        </div>
    </div>

    <script src="..\\js\\login.js"></script>
</body>
</html>