<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Site de Receitas</title>
    <link rel="stylesheet" href="../css/style.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
    <div class="menu">
        <div class="opcoes">
            <a href="" class="opcao">Demons</a>
            <a href="" class="opcao">Features</a>
            <a href="" class="opcao">Basics</a>
            <a href="" class="opcao">Chiden</a>
            <a href="" class="opcao">Easy</a>
            <a href="" class="opcao">About</a>
            <a href="" class="opcao">Contact</a>
        </div>
    </div>
    <div class="container">
        <div class="cabecalho">
            <div class="logomarca">
                <div class="icons">
                    <a href="https://www.facebook.com/" class="icon"><i class="bi bi-facebook"></i></a>
                    <a href="https://br.pinterest.com/" class="icon"><i class="bi bi-pinterest"></i></a>
                    <a href="https://www.instagram.com/" class="icon"><i class="bi bi-instagram"></i></a>
                    <a href="https://www.youtube.com/" class="icon"><i class="bi bi-youtube"></i></a>
                </div>
                <div class="logo">
                    <h1>Cook&Meal</h1>
                    <p>Recipes and Food</p>
                </div>
                <a href="">
                    <button class="pesquisa"><i class="bi bi-search"></i></button>
                </a>
            </div>
            <div class="banner">
                <div class="visu">
                    <h1>Spicy Serrano Pineapple Margarita</h1>

                    <div class="botoes">
                        <a href=""><button class="botao b1">CATEGORY</button></a>
                        <a href=""><button class="botao b2">EASY YEDAN</button></a>
                        <a href=""><button class="botao b3">DATE JUNE 7 2021</button></a>
                    </div>
                </div>
            </div>
        </div>

        <br>

        <div class="conteudo">
            <div class="receitas">
                <div class="receita rec1">
                    <a href=""><button class="pratos p1">PARTO 1</button></a>
                </div>
                <div class="receita rec2">
                    <a href=""><button class="pratos p2">PARTO 2</button></a>
                </div>
                <div class="receita rec3">
                    <a href=""><button class="pratos p3">PARTO 3</button></a>
                </div>
                <div class="receita rec4">
                    <a href=""><button class="pratos p4">PARTO 4</button></a>
                </div>
                <div class="receita rec5">
                    <a href=""><button class="pratos p5">PARTO 5</button></a>
                </div>
                <div class="receita rec6">
                    <a href=""><button class="pratos p6">PARTO 6</button></a>
                </div>
            </div>
    
            <br>
    
            <div class="exemplo">
                <div class="foto">
                    <p class="p1">NEW</p>
                    <p class="p2">Recipes</p>
                </div>
                <div class="info">
                    <a href=""><button>ABOUT BLOG</button></a>
                </div>
            </div>
    
            <br>
    
            <div class="rodape">
                <h1>- Fresh and Spicy -</h1>
                <p>Exclusive recipes</p>
            </div>
        </div>
    </div>
</body>
</html>