<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receitas</title>
    <link rel="stylesheet" href="../css/cabecalho.css">
    <link rel="stylesheet" href="../css/receitas.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
    <div class="container">
        <div class="cabecalho">
            <div class="menu">
                <div class="logo">
                    <h1>Mesa&Arte</h1>
                </div>
                <div class="opcoes">
                    <a href="index.html" class="opcao">Home</a>
                    <a href="receitas.html" class="opcao">Receitas</a>
                    <a href="dicas.html" class="opcao">Dicas</a>
                    <a href="blog.html" class="opcao">Blog</a>
                    <a href="sobre.html" class="opcao">Sobre</a>
                    <a href="contato.html" class="opcao">Contato</a>
                </div>
                <div class="pesquisa">
                    <a href="">
                        <button><i class="bi bi-search"></i></button>
                    </a>
                </div>
            </div>
        </div>
        <div class="banner">
            <h1>Receitas</h1>
        </div>
        <div class="boxs">
            <div class="box">
                <div class="img"></div>
                <div class="msg">
                    <h1>Título</h1>
                    <br>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, laborum harum illo corporis deleniti quis quisquam quod, quas laboriosam veritatis nam, earum possimus cum enim adipisci inventore optio exercitationem alias.</p>
                </div>
            </div>
            <div class="box">
                <div class="img"></div>
                <div class="msg">
                    <h1>Título</h1>
                    <br>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, laborum harum illo corporis deleniti quis quisquam quod, quas laboriosam veritatis nam, earum possimus cum enim adipisci inventore optio exercitationem alias.</p>
                </div>
            </div>
            <div class="box">
                <div class="img"></div>
                <div class="msg">
                    <h1>Título</h1>
                    <br>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, laborum harum illo corporis deleniti quis quisquam quod, quas laboriosam veritatis nam, earum possimus cum enim adipisci inventore optio exercitationem alias.</p>
                </div>
            </div>
            <div class="box">
                <div class="img"></div>
                <div class="msg">
                    <h1>Título</h1>
                    <br>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, laborum harum illo corporis deleniti quis quisquam quod, quas laboriosam veritatis nam, earum possimus cum enim adipisci inventore optio exercitationem alias.</p>
                </div>
            </div>
            <div class="box">
                <div class="img"></div>
                <div class="msg">
                    <h1>Título</h1>
                    <br>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, laborum harum illo corporis deleniti quis quisquam quod, quas laboriosam veritatis nam, earum possimus cum enim adipisci inventore optio exercitationem alias.</p>
                </div>
            </div>
            <div class="box">
                <div class="img"></div>
                <div class="msg">
                    <h1>Título</h1>
                    <br>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, laborum harum illo corporis deleniti quis quisquam quod, quas laboriosam veritatis nam, earum possimus cum enim adipisci inventore optio exercitationem alias.</p>
                </div>
            </div>
            <div class="box">
                <div class="img"></div>
                <div class="msg">
                    <h1>Título</h1>
                    <br>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, laborum harum illo corporis deleniti quis quisquam quod, quas laboriosam veritatis nam, earum possimus cum enim adipisci inventore optio exercitationem alias.</p>
                </div>
            </div>
            <div class="box">
                <div class="img"></div>
                <div class="msg">
                    <h1>Título</h1>
                    <br>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, laborum harum illo corporis deleniti quis quisquam quod, quas laboriosam veritatis nam, earum possimus cum enim adipisci inventore optio exercitationem alias.</p>
                </div>
            </div>
            <div class="box">
                <div class="img"></div>
                <div class="msg">
                    <h1>Título</h1>
                    <br>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, laborum harum illo corporis deleniti quis quisquam quod, quas laboriosam veritatis nam, earum possimus cum enim adipisci inventore optio exercitationem alias.</p>
                </div>
            </div>
            <div class="box">
                <div class="img"></div>
                <div class="msg">
                    <h1>Título</h1>
                    <br>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, laborum harum illo corporis deleniti quis quisquam quod, quas laboriosam veritatis nam, earum possimus cum enim adipisci inventore optio exercitationem alias.</p>
                </div>
            </div>
            <div class="box">
                <div class="img"></div>
                <div class="msg">
                    <h1>Título</h1>
                    <br>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, laborum harum illo corporis deleniti quis quisquam quod, quas laboriosam veritatis nam, earum possimus cum enim adipisci inventore optio exercitationem alias.</p>
                </div>
            </div>
            <div class="box">
                <div class="img"></div>
                <div class="msg">
                    <h1>Título</h1>
                    <br>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, laborum harum illo corporis deleniti quis quisquam quod, quas laboriosam veritatis nam, earum possimus cum enim adipisci inventore optio exercitationem alias.</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>