.container {
    width: 100dvw;
    height: 200dvh;
    background-color: mediumpurple;
    display: flex;
    flex-direction: column;
    align-items: center;
} /* colocar esse trecho em todas as outras páginas. */
.conteudo {
    width: 95dvw;
    height: 150dvh;
    background-color: brown;
    display: flex;
    padding: 20px;
    margin: 30px 30px 30px 30px;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
.box {
    width: 380px;
    height: 380px;
    background-color: teal;
    margin: 10px;
}
.rodape {
	background-color: #491b0f;
    width: 100dvw;
	height: 200px;
	padding: 40px;
	display: flex;
    flex-direction: row;
    align-items: center;
	justify-content: center;
    gap: 100px;
    bottom: 0;
}
.rodape h1 {
	color: white;
	font-size: 3rem;
}
.rodape p {
	color: white;
	font-size: 2rem;
}
.rodape a {
	font-size: 2rem;
}
.parte1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}