* {
	margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
	width: 100dvw;
	height: 100dvh;
	margin: 0px auto;
}
.container {
    background: rgba(121, 118, 118, 0);
    position: relative;
}
.cabecalho {
    width: 100dvw;
    height: 10dvh;
    margin: 0px auto;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
}
.menu {
	display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 350px;
}
.menu .logo {
    font-family: 'Times New Roman', Times, serif;
}
.pesquisa {
	border: 1px solid rgba(128, 128, 128, 0.377);
    border-radius: 100px;
}
.pesquisa > a > button {
	padding: 8px;
	border: 1px solid rgba(128, 128, 128, 0.377);
	border-radius: 100px;
	background-color: rgba(128, 128, 128, 0.096);
}
i.bi {
    font-size: 1.5em;
	text-decoration: none;
	color: black;
}
.opcoes {
	height: 30px;
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25px;
    align-items: center;
	padding-left: 90px;
}
.opcoes .opcao:hover {
    background-color: rgba(128, 128, 128, 0.274);
    padding: 5px;
}
.opcoes .opcao:focus {
    background-color: rgba(128, 128, 128, 0.479);
    padding: 5px;
}
.opcoes .opcao:active {
    background-color: rgba(128, 128, 128, 0.479);
    padding: 5px;
}
.opcao {
	text-decoration: none;
	color: black;
}
.selecionado {
    background-color: #4CAF50; /* cor de fundo quando selecionado */
    color: white; /* cor do texto quando selecionado */
}
.opcao.active {
    background-color: rgba(129, 129, 129, 0.514);
    padding: 5px;
}