.container {
    width: 100dvw;
    height: 100dvh;
    background-color: rgb(0, 255, 242);
}
.conteudo {
    width: 100dvw;
    height: 100dvh;
    background-color: cornflowerblue;
    padding: 30px;
}
.box_dica {
    width: 95dvw;
    height: 70dvh;
    background-color: purple;
    display: flex;
}
.box_curso {
    width: 70dvw;
    height: 50dvh;
    background-color: rgb(255, 255, 255);
    margin: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.box_img {
    width: 50dvw;
    height: 10rem;
    background-image: url('../imgs/dicas.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    float: right;
    margin: 0 0 10px 10px;
    max-width: 200px; /* Tamanho máximo da imagem */
    height: auto; /* Preserva as proporções */
    display: block;
}
.rodape {
	background-color: rgb(51, 51, 51);
    width: 100dvw;
	height: 200px;
	padding: 40px;
	display: flex;
    flex-direction: row;
    align-items: center;
	justify-content: center;
    gap: 100px;
    bottom: 0;
}
.rodape h1 {
	color: white;
	font-size: 3rem;
}
.rodape p {
	color: white;
	font-size: 2rem;
}
.rodape a {
	font-size: 2rem;
}
.parte1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}