* {
	margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
	width: 100dvw;
	height: 100dvh;
	margin: 0px auto;
}
.container {
	width: 100vw;
}
.cabecalho {
	margin: 0px auto;
}
.menu {
	display: flex;
    flex-direction: column-reverse;
    align-items: center;
}
.conteudo {
	padding: 20px;
}
.apresentacao {
	width: 97dvw;
	background-color: rgba(105, 105, 105, 0.37);
	padding: 20px;
	text-align: justify; /* Define o texto no modo justificado. */
	margin-bottom: 20px;
}
.apresentacao p {
	font-size: 1.5rem;
	margin: 5px;
}
.opcoes {
	height: 60px;
    width: 1250px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25px;
    border-bottom: 2px solid rgba(128, 128, 128, 0.507);
    align-items: center;
	padding-left: 90px;
}
.opcao {
	text-decoration: none;
	color: black;
}
.pesquisa {
	padding: 8px;
	border: 1px solid rgba(128, 128, 128, 0.377);
	border-radius: 100px;
	background-color: rgba(128, 128, 128, 0.096);
}
.logomarca {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
	gap: 450px;
	padding: 20px;
}
.logomarca > .icons {
	display: inline-flex;
	gap: 10px;
}
i.bi {
    font-size: 1.5em;
	text-decoration: none;
	color: black;
}
.logo {
	display: inline-flex;
	flex-direction: column;
	align-items: center;
}
.banner {
	height: 390px;
	background-image: url('../imgs/banner.png');
	background-repeat: no-repeat;
	background-size: 100%; 
	background-position: center;
	display: flex;
    flex-direction: column;
    justify-content: center;
}
.visu {
	width: 500px;
	height: 320px;
	font-size: 34px;
	margin-left: 150px;
}
.visu > h1 {
	margin: 20px 20px 20px 20px;
	color: white;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #2e0f07;
}
.visu > .botoes {
	margin: 25px 20px 20px 20px;
}
.receitas {
	width: 1308px;
	height: 300px;
	gap: 20px;
	display: flex;
	padding: 20px;
	background-color: rgba(220, 220, 220, 0);
	margin: 0px 0px 20px 0px;
}
.receitas > .receita {
	width: 200px;
    height: 260px;
    background-color: rgba(128, 128, 128, 0);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.rec1 {
	background-image: url('../imgs/prato1.png');
	background-repeat: no-repeat;
	background-size: 100%; 
	background-position: center;
}
.rec2 {
	background-image: url('../imgs/prato2.png');
	background-repeat: no-repeat;
	background-size: 100%; 
	background-position: center;
}
.rec3 {
	background-image: url('../imgs/prato3.png');
	background-repeat: no-repeat;
	background-size: 100%; 
	background-position: center;
}
.rec4 {
	background-image: url('../imgs/prato4.png');
	background-repeat: no-repeat;
	background-size: 100%; 
	background-position: center;
}
.rec5 {
	background-image: url('../imgs/prato5.png');
	background-repeat: no-repeat;
	background-size: 100%; 
	background-position: center;
}
.rec6 {
	background-image: url('../imgs/prato6.png');
	background-repeat: no-repeat;
	background-size: 100%; 
	background-position: center;
}
.pratos {
	padding: 8px 25px 8px 25px;
	background-color: rgb(101, 140, 153);
	border: 1px solid rgb(58, 81, 88);
	border-radius: 80px;
	cursor: pointer;
	color: white;
	font-weight: bolder;
}
.receita > a {
	margin: 20px;
}
.p1 {
	background-color: rgb(101, 115, 153);
	border: 1px solid rgb(58, 67, 88);
}
.p2 {
	background-color: rgb(153, 101, 101);
	border: 1px solid rgb(88, 58, 58);
}
.p3 {
	background-color: rgb(153, 152, 101);
	border: 1px solid rgb(88, 86, 58);
}
.p4 {
	background-color: rgb(101, 153, 101);
	border: 1px solid rgb(60, 88, 58);
}
.p5 {
	background-color: rgb(130, 101, 153);
	border: 1px solid rgb(77, 58, 88);
}
.p6 {
	background-color: rgb(172, 92, 161);
	border: 1px solid rgb(88, 58, 83);
}
.botao {
	padding: 8px 20px 8px 20px;
	color: white;
	background-color: rgba(0, 255, 255, 0);
	font-weight: bolder; /* Fazer um commite <feat> com um `:rouver`  */
	border: 1px solid rgba(0, 0, 0, 0);
}
.exemplo {
	width: 1305px;
	height: 400px;
	background-color: rgba(128, 128, 128, 0.192);
	display: flex;
}
.foto {
	width: 640px;
	height: 360px;
	background-image: url('../imgs/prato_foto.png');
	background-repeat: no-repeat;
	background-size: 100%; 
	background-position: center;
	margin: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.info {
	width: 650px;
	height: 360px;
	background-color: rgba(55, 59, 58, 0);
	margin: 20px 20px 20px 0px;
	padding: 30px;
}
.nome {
	width: 150px;
	height: 50px;
	background-color: white;
	display: inline-flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	margin: 20px;
	font-weight: bold;
}
.nome > .pr1 {
	font-family: Arial, Helvetica, sans-serif;
	color: #4d2513;
}
.info > a > button {
	margin: 20px 0px 0px 410px;
	padding: 8px 25px 8px 25px;
	background-color: rgb(101, 140, 153);
	border: 1px solid rgb(58, 81, 88);
	border-radius: 80px;
	cursor: pointer;
	color: white;
	font-weight: bolder;
}
.info > h1 {
	font-size: 3.5rem;
}
.info > p {
	font-size: 18px;
	text-align: justify; /* Define o texto no modo justificado. */
	text-indent: 2em; /* Define o recuo da primeira linha. */
}
.rodape {
	background-color: rgb(51, 51, 51);
	height: 320px;
	padding: 40px;
	display: flex;
    flex-direction: row;
    align-items: center;
	justify-content: center;
    gap: 100px;
}
.rodape h1 {
	color: white;
	font-size: 3rem;
}
.rodape p {
	color: white;
	font-size: 2rem;
}
.rodape a {
	font-size: 2rem;
}
.p_receits {
	font-size: 1.5rem;
}
.destaque {
	font-size: 3rem;
	margin-bottom: 20px;
}
.opcoes .opcao:hover {
    background-color: rgba(128, 128, 128, 0.274);
    padding: 5px;
}
.opcoes .opcao:focus {
    background-color: rgba(128, 128, 128, 0.479);
    padding: 5px;
}
/* .opcoes .opcao:active {
    background-color: rgba(128, 128, 128, 0.479);
    padding: 5px;
} */
.opcao {
	text-decoration: none;
	color: black;
}
.opcao.active {
    background-color: rgba(129, 129, 129, 0.514);
    padding: 5px;
}
.parallax {
	height: 420px; /* Altura da tela cheia */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
@media only screen and (min-width: 1708px) {
	.receitas {
		width: 106.7rem;
		height: 24rem;
	}
	.receitas > .receita {
		width: 150rem;
		height: 21.5rem;
	}
	.apresentacao {
		width: 1688.5px;
	}
	.exemplo {
		width: 1690px;
	}
	.info {
		width: 950px;
		margin: 20px 20px 20px 20px;
	}
	.info > h1 {
		font-size: 5.5rem;
	}
	.parallax {
		height: 520px; /* Altura da tela cheia */
		background-size: cover;
	}
	.rodape {
		width: 100%;
	}
}